<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.chlhrssj.wanandroid">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
            android:name="com.chlhrssj.projectcore.base.MyApp"
            android:theme="@style/RssjAppTheme">
        <activity
                android:name=".ui.more.rx.RxActivity"/>
        <activity android:name=".ui.more.particle.WangYiYunActivity" />
        <activity android:name=".ui.more.draw.DrawActivity" />
        <activity
                android:name=".ui.preview.PreviewActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.baout.AboutActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.browser.BrowserActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.login.LoginActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.more.MoreActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.main.MainActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>